:root {
  --website-max-width: 1550px;
}

$my-skills-colors: (
  "html": #e34c26,
  "css": #2965f1,
  "sass": #cd6799,
  "js": #e3cb2f,
  "react": #66dbfb,
  "redux": #764abc,
  "git": #f1502f,
  "github": #32373d,
  "vite": #a35eff,
  "netlify": #0dbfbd,
  "accessibility": #e3cb2f,
  "pwa": #434343,
  "seo": #4caf50,
  "swiper": #00bfa5,
  "spa": #f94f4f,
  "recoil": #3578e5,
  "vscode": #22a7f2,
  "i18next": #09998f,
  "styled-components": #00bfa5,
);

$social-media-color: (
  "facebook": #3b5998,
  "linkedin": #0077b5,
  "github": #fff,
  "discord": #7289da,
  "twitter": #55acee,
  "codepen": #fff,
  "codewars": #f05656,
  )