@use "src/Styles/mixins.scss" as m;

.nav ul {
  display: flex;
  align-items: center;
  position: relative;
}

@include m.small {
  .nav ul {
    display: none;
  }
}

.nav ul li a {
  display: block;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 400;
  position: relative;
  transition: color .3s;

  &:hover {
    color: #707070;
  }
}

@include m.medium {
  .nav ul li a {
    padding: 1.3rem 1.5rem;
  }
}

.nav ul li[data-active=true] a {
  color: rgba(var(--theme-color));
}

.nav .activeLine {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 3px;
  transition: left .3s;
  pointer-events: none;
  z-index: -1;
  border-bottom: solid 2px rgba(var(--theme-color));
}